h2 Telegram Toolbox
p.lead A Telegram bot notifying you about changes in your GitHub repos

p &nbsp;

p.lead To start just add <strong><a href="https://telegram.me/#{Rails.configuration.bot_name}" target="_blank">#{Rails.configuration.bot_name}</a></strong> to your chat and it will provide you with the instructions.
