development:
  secret_key_base: GENERATE WITH 'rake secret'

  telegram_bot_token: REPLACE

  github:
    key: REPLACE
    secret: REPLACE

test:
  secret_key_base: GENERATE WITH 'rake secret'

  github:
      key: test_key
      secret: test_secret