noindex
  p.contacts-text
    a(class="github-button" href="https://github.com/hackwrench-bot/hackwrench-web"
      data-icon="octicon-star" data-count-href="/hackwrench-bot/hackwrench-web/stargazers"
      data-count-api="/repos/hackwrench-bot/hackwrench-web#stargazers_count"
      data-count-aria-label="# stargazers on GitHub" aria-label="Star hackwrench-bot/hackwrench-web on GitHub") Github
    'You can contact the creator via <a href="emailto:henadzi.tsaryk@gmail.com">email</a>.

